
.about{
    position: absolute;
    width: 40vw;
    height: 25vh;
    overflow: hidden;

    margin-top: 3vh;
    margin-right: -20vw;
    margin-left:1vw !important;
    z-index: 3;
    font-family: 'Lucida Console', monospace;
    border-radius: 35px;
    box-shadow: 4px 4px 4px 4px rgba(0,0,0,.25);
    background-color: #343A40;
    
    .blurb-a{
        margin-left:11vw;
        margin-right: 1vw;
        margin-top: 1vh;
        width: 70%;
        text-align:  left;
        font-size: 13px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #05ebe2;

        margin-top: 3vh; 
      } 
    
    }
    .me{
    position: relative;
     z-index: 3;
     height: 100px;
     margin-left: .5em !important;
     margin-right: 1vw;
     margin-top: 6%;
     width: 110px;
     border-radius: 30px ;
     float: left; 
     background-color: #343A40;
    }   



@media  screen and (max-width: 1180px){
    .about{
      margin-left: -30vw;
        position: absolute;
       
    }
    .me{
        margin-left: 20vw;
        width:13vw !important;
      
    }
}

@media only screen and (max-width: 970px){
  .blurb-a{
   padding-top: 3vh;
  
  }
}