
header {
    background-image: url('./cork.jpg');
    height: 150px;
    margin: 0 20px;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    box-shadow: -4px 4px 4px 4px rgba(0,0,0,.25);
  
    a {
      color: #fff;
      transition: color 0.3s ease;
    
  
      &:hover {
        color: darken(#fff, 20%)
      }
    }
  
    ul {
      display: flex;
      margin: 0;
      padding: 0;
  
      li {
        list-style-type: none;
        padding: 0px 10px;
        font-size: 20px;
        font-family: 'SF Comic Script Bold', arial;
      }
    }
  }

  .footer{
    margin-top: 5px;
    background: #9F71AD;
    display: flex;
    flex-direction: row;
    flex: left;
    justify-content: center;
    box-shadow: 4px -4px 4px 4px rgba(0,0,0,.25);
  }
.note{
  color: #333;
  position: relative;
  width: 120px;
  height: 120px;
  margin: 0 auto;
  padding: 20px;
  font-size: 30px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  
}
.yellow{
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}


.email-icon{
  height: 50px;
  width: 50px;
}
.email{
  padding-top: 0px;
}

.left-head{
  display: flex;
  flex-direction: row;
  flex: left;
  height:190px;
  width: 600px;
  background-color: whitesmoke;
  margin-left: -10px;
  margin-top: -20px;
}

.logo  {
    font-size: 40px;
    font-family: 'SF Comic Script Bold', arial;
    background: -webkit-linear-gradient(180deg,#EF1C25,#F78620,#FFE600,#118A43, #4D52A6, #7F2987,#000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .title, .name{
    font-family: 'Inconsolata', monospace;
  }
  .title{
    font-size: 30px;
    margin-top: 40px;
  }