
header {
    background-image: url('./cork.jpg');
    
    height: 150px;
    margin: 0 20px;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    box-shadow: -4px 4px 4px 4px rgba(0,0,0,.25);
  
    a {
      color: #fff;
      transition: color 0.3s ease;
    
  
      &:hover {
        color: darken(#fff, 20%)
      }
    }
  
    ul {
      display: flex;
      margin: 0;
      padding: 0;
  
      li {
        list-style: none;
        
        padding: 0px 10px;
        font-size: 20px;
        font-family: 'SF Comic Script Bold', arial;
      }
    }
  }
.head-blurb{
  margin-left: 5px;
  margin-top: -15px;
  font-size: 14px;
}
.catopuss-icon2{
  height: 37px;
  width: 37px;
  margin-top:2px;
}
.linkedin-icon2{
  height: 45px;
  width: 45px;
}
.icon-list{
  display: flex;
  flex-direction: row;
  flex: left;
  margin: 0;
}
  .footer{
    margin-top: 7vh;
    padding-bottom: 6px;
    background: #9F71AD;
    display: flex;
    flex-direction: row;
    flex: left;
    justify-content: center;
    box-shadow: 4px -4px 4px 4px rgba(0,0,0,.25);
  }
.note{
  color: #333;
  position: relative;
  width: 70px;
  height: 70px;
  margin: 0 auto;
  padding: 10px;
  font-size: 15px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  
}
.yellow{
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}


.email-icon{
  height: 50px;
  width: 50px;
}


.left-head{
  display: flex;
  flex-direction: row;
  flex: left;
  height:190px;
  width: 600px;
  background-color: whitesmoke;
  margin-left: -10px;
  margin-top: -20px;
}
.name{
  margin-left: 5px;
  margin-top: 0px;
}
.gicon{
  width: 100px;
}
  .title, .name{
    font-family: 'Inconsolata', monospace;
  }
  .title{
    font-size: 30px;
    margin-top: 40px;
  }