@import url(//db.onlinewebfonts.com/c/f4d1593471d222ddebd973210265762a?family=Pokemon);
@import url(https://allfont.net/allfont.css?fonts=sf-comic-script-bold);
header {
    background-image: url('./cork.jpg');
    background-size: 500px;    
    height: 150px;
    margin: 0 20px;
    text-align: left;
    padding: 20px 10px;
    display: flex;
    justify-content: space-between;
    border: 5px solid black;
    box-shadow: -4px 4px 4px 4px rgba(0,0,0,.25);
  
    a {
      color: #fff;
      transition: color 0.3s ease;
      text-decoration: none;
      &:hover {
        color: darken(#fff, 20%)
      }
    }
    ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-evenly;
      margin: 0;
      margin-left: -50px;
      margin-top: -30px;
      width: 400px;
      height: 200px;

      li {
        list-style: none;
        padding: 0px 10px;
        font-size: 20px;
        font-family: 'SF Comic Script Bold', arial;
      }
    }
  }
  .directions{
   z-index: 4;
    font-size: 13px;
    width: 300px;
    height: 100px;
    position: relative;
    
  }
  .note-direction{
    margin-top: -2px;
  }
.about-blurb{
  line-height: 1.4;
  margin-left: 10px;
  margin-top: -35px;
  width: 350px;
  font-weight: 500;
}
.head-blurb{
  margin-left: 5px;
  margin-top: -15px;
  font-size: 12px;
}
.catopuss-icon2{
  height: 37px;
  width: 37px;
  margin-top:2px;
}
.linkedin-icon2{
  height: 45px;
  width: 45px;
}
.icon-list{
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  flex: left;
}
  .footer{
    margin-top: 7vh;
    padding-bottom: 6px;
    background: #9F71AD;
    display: flex;
    flex-direction: row;
    flex: left;
    justify-content: center;
    box-shadow: 4px -4px 4px 4px rgba(0,0,0,.25);
  }
.note{
  color: #333;
  position: relative;
  width: 80px;
  height: 80px;
  margin: 0 auto;
  font-size: 14px;
  padding: 6px;
  box-shadow: 0 10px 10px 2px rgba(0,0,0,0.3);
  margin-top: 20px;
  
}
.yellow{
  background: #eae672;
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
  -o-transform: rotate(2deg);
  -ms-transform: rotate(2deg);
  transform: rotate(2deg);
}
.pokemonF{
  font-family: "Pokemon";
  font-size: 12px;
  letter-spacing: 3px;
}
.gaymeitF{
  font-family: 'SF Comic Script Bold', arial;
  letter-spacing: 2px;
}


.email-icon{
  height: 50px;
  width: 50px;
}


.left-head{
  display: flex;
  flex-direction: row;
  flex: left;
  height:190px;
  width: 800px;
  background-color: whitesmoke;
  margin-left: -10px;
  margin-top: -20px;
}
.name{
  margin-left: 5px;
  margin-top: 0px;
}
.gicon{
  width: 100px;
}
  .title, .name{
    font-family: 'Inconsolata', monospace;
  }
  .title{
    font-size: 30px;
    margin-top: 40px;
  }
.me{
  height: 190px;
  width: 200px;
}
  /* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  header{
    width: 630px;
    z-index: -1;
    position: absolute;
    margin-top: -40px;
    ul{
      margin-top: 270px;
    }
  }
  .yellow-direction{
    margin-top: 180px;

  }
  .left-head{
    width: 590px;
  }
  .note{
    height: 100px;
    width: 100px;
    margin-left: -30px;
  }

}


/* Ipad*/
@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {
    header{
      width: 700px;
    }
    
}


