
.project{
    position: absolute;
    z-index: 4;
    display: flex;
    flex-direction: row;
    flex: left;
    margin-left: 43vw;
    margin-top: 3vh;
    margin-right: 1vw;
    color: #06D493;
    background-color: #343A40;
   border-radius: 35px;
   box-shadow: 4px 4px 4px 4px rgba(0,0,0,.25);
}
.huddlecontain{
   margin-left: 43vw;
   width: 56%;
   height: 80%;
   .huddle{
    position: relative;
    height: 30vh;
    width: 30vw;
    margin-right: -35vw !important;
    margin-top:1vh;
    margin-left:13vw;
    border: solid thin red;
   }
.huddleDetail{
    margin-left: 2vw;

   .huddleHeader{
    margin-top: 35vh;
    margin-left:-10vw;
    width: 60vw;
   }

   .blurbHuddel{
    margin-top: 5vh;
    width: 53vw;
    margin-left: -10vw;
        }
        .huddle-icons{
            margin-right: 44vw;
            margin-top: -10vh;
        }
    }
    .huddle-icons{
    margin-left: -44vw;
    margin-top: -10vh;
   }
}

.blurbHuddel, .Tblurb{
    margin-left: -450px;
    margin-right: 340px;
    color: #05ebe2;
}


.Tcontainer{
    margin-right: -20vw;
    .tHeader{
        margin-top:32vh;
        margin-left:-8vw !important;
        padding-bottom: 2vw;
    }
    .Tblurb{
        margin-left: -8vw;
        width:150%;
    }
}
.title{
   color: #05ebe2;
}

.huddlecontain{
    margin-right: 10px;
}
.res-contain{
    position: absolute;
    margin-left: 42vw;
    border-radius: 39px;
    margin-top: 3vh;
    height: 600px;
    box-shadow: 4px 4px 10px 4px #343A40;

    Iframe{
        margin-bottom: -5vh;
        width: 57vw;
        height: 100%;
        border: solid thin red;
    }
}

.gaymeit-icons{
    display: flex;
    flex-direction: row;
    flex: left;
    justify-content: space-between;
}
.tcg-icons,.clone-icons{
    display: flex;
    flex-direction: row;
    flex: left;
    position: absolute;
    margin-left: -250px;
    margin-top: 100px;
}

p{
    color: #05ebe2;

}
.github-icon{
    height: 25px;
    width: 75px;
}
.catopuss-icon{
    height: 45px;
    width: 45px;
    margin-top: 6px;
}
.browser-icon{
    height: 50px;
    width: 50px;
}
.screenshot{
    border-radius: 25px;
    margin-bottom: 20px;
    
}
.detailContainer{
    margin-left: 5;
    text-align:  left;
    padding-left: 20px;
    font-family: 'Lucida Console', monospace;
}
.Tcontainer{
    width: 500px;
    text-align:  left;
    padding-left: 20px;
    margin-top: -5px;
    font-family: 'Lucida Console', monospace;
}
.tcgpic, .dexpic, .gaymeit{
    padding-left: 5px;
    padding-top: 5px;
    width: 350px;
    height: 192px;
}
.huddle{
    margin-left: 0px;
    width: 500px;
    height: 332px;
}
.Tblurb{
     
}
  
.grad{
    margin-top: 0px;
    
}
.myClassname{
    width: 800px;
    height: 90vh;
    border-radius: 45px;
}

@media only screen and (max-width: 1180px)  {
    .about{
        width: 41%;
        margin-left: 13vw;
        .me{
            height: 20vh;
            width: 15vw;
            margin-top: 1.5vh;
            margin-left: .5vw;
        }
        .blurb-a{
            margin-left: 14vw;
            margin-right: 0;
        }
        box-shadow: 4px 4px 4px 4px rgba(0,0,0,.25);
    }
   
    .project{
        height: 85%;
        width: 50%;
        margin-left: 47vw;
        margin-right: 1vw;
      
        .screenshot{
            position: absolute;
            z-index:3;
           margin-left: 30vw;
           padding-right: 2vw;
            margin-bottom: -3em;
            padding: 1vh 0;
        }
        .dexpic{
            margin-left: 9vw;
        }
   
        .huddle{
           margin-left: 0vw;
           height:40vh;
           margin-left: 2vw;
           margin-top: -3vh;
           transform: scale(.8);
           }
        .tcgpic ,.gaymeit, .tShot, .moms{
            margin: 0 auto;
            margin-left: 9vw;
        }
        .moms{
            margin-left: 7vw;
        }
        .Tcontainer{
            padding-top: 2vh;
            margin-top: 5vh;
            margin-left:-3vw;
            .mBlurb{
                margin-top: -5vh;
                margin-left: -43vw;
                margin-right: 2vw;
            }
        }
        .detailContainer{
           width:40vw;
           height: 20vh;
           margin-top: 23vh;
            .gaymeitBlurb{
                width:43vw;
                margin-left:42vw;
                margin-top: -30vh;
                p{
                    margin-right: 35vw;
                }
                h6{
                    padding: 2vh ;
                }
             
            }
            .gaymeit-icons{
              
                width: 14vw;
                margin-left: 15vw;
            }
        .cardHeader, .tHeader, .mHeader{
            margin-top: 30vh;
            margin-left: -43vw;
            width: 50vw;
            h4{
                font-size: 27px;
            }
            h5{
                font-size: 21px;
                padding: 2vh 0;
                margin-right: 1em;
            }
        }
        p{
            font-size: 19px;
        }
    }
        .tHeader{
        margin-top: 37vh;
        margin-left:-42vw;
        }
        .grad{
            margin-left: 0;
        }
        .tIcons{
            position: absolute;
            margin-left: -72vw;
        }
        .Tblurb{
            margin-left: -42vw;
            margin-right: 0;
            margin-top: -0vh;
            font-size: 13px;
        }
        .huddleDetail{
            margin-left: -5vw;
            .huddleHeader{
                margin-top: 35vh;
                p{
                    position: relative;

                    margin-left: 0vw;
                    font-size: 15px;
                }
                h5{
                    margin-top:-2vh;
                    padding-bottom: 3vh;
                    font-size: 15px;
                }
            }
            .huddle-icons{
                position:absolute;
                margin-left: -80vw;
            }
            .blurbHuddel{
                font-size: 17px;
                width: 47vw;
                margin-left: -43vw;
            }
        }
        .gaymeitBlurb{
            margin-left: 2vw;
        }
    } 
    .cssart{
        padding-left: 9vw;
        padding-bottom: 5vh;
        margin-top:10vh;
        .pokeball{
            margin-top: 33vh;
            margin-right: 9vw;
        }
        p{
            margin-left: -2vw;
            margin-top: 60vh;
            width:35%;
        }
    }
    
    .nHeader{
        padding-top: 1vh;
    }

  .res-contain{
    display: block;
    height: 90%;
    width: 53%;
    margin-left: 55vw;
    Iframe{
        width: -20vw;
        padding-right: 0;
        height:100%;
        width: 100%;
    }
  }

   
    p{
        margin-left: -43vw;
        margin-right: 2vw;
    }
    .clone-icons{
        margin-top: 25vh;
        display: block;
        display: flex;
        flex-direction: row;
        flex: left;
        justify-content: space-around;
        
    }
    .nIcons{
        margin: 0 auto;
    
        margin-left: -28vw;
    }
    .mIcons{
        margin-left: -75vw;
    }
    .tcg-icons{
        margin-top: 30vh;
        display: block;
        display: flex;
        flex-direction: row;
        flex: left;
        justify-content: space-between;
        margin-left: -28vw;
        width: 200px;
        
    }
    .gaymeit-icons{
        margin-left: -26vw;
        width: 2vw;
        .github-icon{
            margin-top: 16px;
        }  
    }
      .mHeader{
        margin-top: -5vh;
    }
}
@media only screen and (max-width: 970px){
    .about{
        width: 90vw;
        margin-left: 5vw;  
        padding-top: 2vh;
        
        .me{
            margin-left: 3vw; 
            width: 18vw;
            border-radius: 27px;
        }
        .blurb-a{
        
            font-size: 19px;
            margin-top: -10px;
            margin-left: 21vw;
            padding-left: 2vw;
            padding-right: 2vw;
        }
    }

    .project{
        height: 62vh;
        margin-top: 30vh;
        left:-30%;
        width: 65vw;;
        .screenshot{
            margin-top: 1vh;
            margin-left: 13vw;
            height: 28vh;
        }
        .detailContainer{
            width: 70vw;
            margin-left: -5vw;
            margin-right: 0;

            h4{
                font-size: 25px;
            }
            h5{
                font-size: 17px
            }
            p{
               
                width: 59vw;
                font-size: 17px;
            }
        }
    }

    .cssart{
        bottom:0%;
        left:5vw;
        height: 65vh;
        width: 90vw;
        .pokeball{
            margin-top: -4vh;
        }
        .blurb{
           
            margin: 0px;
            margin-left: 2vw;
            margin-top: 28vh;
        }
    }

    .res-contain{
        width: 90vw;
        height:10vh;
        Iframe{
           
            height: 63vh;
            width: 80vw;
            -webkit-transform: none;
            transform: none;
            margin-top: -44vh;
            margin-right: 40vw;
            margin-left: -24vw;
            transform: scale(1.4);
        ;
        }
    }
}

@media only screen and (max-width: 820px){
    header{
      width: 700px;
    }

    .about{
        height:20%;
        margin: auto;
        margin-top: 2vh;
        margin-left: 5vw;
        width: 90vw;
       border: solid 2px black;
        .me{
            height: 18vh;
            width: 25vw;
            margin-left: 2vw;
            margin-top: -1vh;
        }
        .blurb-a{
            margin-top: -2vh;
           font-size:20px;
           width: 80%;  
    }
}
.cssart{
    .pokeball{
        margin-top: 10vh;
    }
    .blurb{
    margin-left: -1vw;
    margin-top: -7vh;
    }
}

.project{
    position: absolute;
    margin: auto;
    margin: 0 5vw 0 4vw;
    margin-top: 50vh;

    height: 40vh;
    width: 90%;
    border: solid 2px black;
    font-size: 100px;
    flex-wrap: wrap;

    .cardHeader{
        position: relative;
        
        width: 85%;
        margin-left: 27vw;
        margin-right: 3vw;
        margin-top: -12em;  
        h4{
            font-size: 35px;
            padding-bottom: 1vh;
            
        }
        h5{
            font-size: 25px;
            padding-bottom: 1vh;
        }
    }
  

    .screenshot{
        width: 28vw;
        height: 13vh;
        margin-left: 2px;
        margin-top:1vh;
    } 
    p{
        padding-top: 4vh;
        width: 85%;
        margin-left:27vw;
        margin-right: 3vw;
        font-size: 25px;
    }
    .clone-icons{
        margin: auto;
        top: 55%;
    }
}


.clone-icons{
    
    margin:auto;
    width: 25vw;
    justify-content: space-around;
    .icons{
        width: 10vw;
        height: 6vh;
    }
}

.detailContainer{
    margin-top: -50px;
    margin-left: 0px;
    width: 744px;
    line-height: normal;
}

.ipad-description{
    width: 300px;
    margin-left: 440px;
    margin-top: -160px;
    font-size: 17px;
}
}


@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 
  
    .project{
        margin-top: 50vh;
        height: 40vh;
        color: #05ebe2;  
    }
    .detailContainer{
        margin-left: -600px;
        margin-top: 480px;
    }
 
    .ptittle{
        color: #06D493;
}
    .screenshot{
        width: 550px;
        margin-left: -27px;
    }
    .myClassname{
        width: 550px;
        height: 862px;
        margin-left: 0px;
    }
    .rCard{
        background-color: black !important;
    }
}
