
body{
  background-color: #343A40;
  overflow-x: hidden;
  overflow-y: hidden;
}

h4{
  color: #06D493;
}

.circle{
  margin-top: -400px;
  margin-left: -80px;
  height:800px; 
  width:800px;
  z-index: -1;
  border-radius: 800px; 
  background: rgb(52,58,64);
  background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(104,109,113,1) 100%);
}
.b-circle{
  height:800px; 
  width:800px;
  z-index: -1;
  border-radius: 800px; 
  background: rgb(52,58,64);
  background: linear-gradient(90deg, rgba(52,58,64,1) 0%, rgba(104,109,113,1) 100%);
}
.r-cirlce{
  margin-left: 650px;
  margin-top: -1200px;
  z-index: -2;
  position: absolute;
  height:650px; 
  width:650px;
  border-radius: 650px; 
  background: rgb(52,58,64);
  background: linear-gradient(287deg, rgba(52,58,64,1) 0%, rgba(104,109,113,1) 100%);
}
@media only screen and (max-width: 920px){
  .App{
    overflow-x: hidden; 
    overflow-y: hidden;
  }
}
@media  screen and (max-width: 767px){
  .App{
    margin-right:-12%;
    margin-left: 12%;
  }
}