.background{
  width: 800px;
  height: 800px;
}
body{
  background-color: #343A40;
}
.App {
  text-align: center;
  
  background-repeat:repeat-x;
  background-attachment:fixed;
  background-position:top center;  
  height: 100%;
  width: 100%;
  border: 0;
  background-size:contain; 
  position:fixed;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.circle{
  margin-top: -300px;
  margin-left: -80px;
  height:650px; 
  width:650px;
  border-radius: 650px; 
  background: rgb(139,170,191);
  background: linear-gradient(315deg, rgba(139,170,191,1) 0%, rgba(40,44,52,1) 98%);
}
.b-circle{
  height:650px; 
  width:650px;
  border-radius: 650px; 
  background: rgb(139,170,191);
  background: linear-gradient(315deg, rgba(139,170,191,1) 0%, rgba(40,44,52,1) 98%);
}
.r-cirlce{
  margin-left: 650px;
  margin-top: -1000px;
  z-index: -1;
  position: absolute;
  height:650px; 
  width:650px;
  border-radius: 650px; 
  background: rgb(139,170,191);
  background: linear-gradient(315deg, rgba(139,170,191,1) 0%, rgba(40,44,52,1) 98%);
}